<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Responsive website -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  
  <link rel="stylesheet" href="./css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  
  <title>Challenge WEIGARDIUM - Human'App</title>
</head>
<body>

<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-1">
        <div class="container">
          <a href="index.ejs" class="brand-logo left hide-on-med-and-down"><b>Human'app</b></a>
          
          <a href="index.ejs" class="brand-logo center hide-on-large-only"><b>Human'app</b></a>
          
          <ul id="nav-mobile" class="left">
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>


<main>
  
  <div class="container">
    
    <div class="row">
      <div class="valign-wrapper show-on-medium-and-up">
        
        <div class="col s12 m6">
          <div class="center">
            <img src="public/logo.svg" class="responsive-img">
          </div>
        </div>
        
        <div class="col s12 m6">
          <h2>A propos de nous</h2>
          <p>
            Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum, anxia deliberatione tractatur an exceptis his quibus vicissitudo debetur, peregrinum invitari conveniet, et si digesto plene consilio id placuerit fieri, is adhibetur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.<br>
            Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas, cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia iam inde a primis auspiciis florentissimae.
          </p>
        </div>
      
      </div>
    </div>
  </div>

</main>


<footer class="page-footer teal">
  
  <div class="footer-copyright">
    <div class="container">
      © 2018 Human'app
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>



<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/materialize.min.js"></script>

<!-- Once the page is loaded, initializing MaterializeJS -->
<script type="text/javascript">
  M.AutoInit();
</script>


</body>
</html>