<%- include ejs-parts/header.ejs %>
  
  <div class="container">
    
    <div class="row">
      <div class="valign-wrapper show-on-medium-and-up">
        
        <div class="col s12 m6">
          <div class="center">
            <img src="public/logo.svg" class="responsive-img">
          </div>
        </div>
        
        <div class="col s12 m6">
          <h2>A propos de nous</h2>
          <p>
            Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum, anxia deliberatione tractatur an exceptis his quibus vicissitudo debetur, peregrinum invitari conveniet, et si digesto plene consilio id placuerit fieri, is adhibetur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.<br>
            Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas, cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia iam inde a primis auspiciis florentissimae.
          </p>
        </div>
      
      </div>
    </div>
  </div>

<%- include ejs-parts/footer.ejs %>