<%- include ejs-parts/header.ejs %>

    <div class="container row hide-on-small-and-down" style="padding-top: 20vh;"></div>

    <div class="container row">
      <h1 class="center-align">S'inscrire au défi</h1>
    </div>

    <div class="container row valign-wrapper">
      <form action="/user" method="post" id="register-form">
        <div class="col s12 m6">
          <label for="first-name-input" id="first-name-label">Prénom</label>
          <input type="text" placeholder="John" id="first-name-input">
        </div>
        
        <div class="col s12 m6">
          <label for="last-name-input" id="last-name-label">Nom de famille</label>
          <input type="text" placeholder="Doe" id="last-name-input">
        </div>
        
        <div class="col s12 m6 push-m3">
          <label for="student-id-input" id="student-id-label">Numéro d'étudiant (20180xxx)</label>
          <input type="number" placeholder="20180xxx" id="student-id-input" class="validate">
          <span class="helper-text" data-error="Mauvais identifiant" data-success=""></span>
        </div>
        
        <div class="col s12 center-align">
          <input type="submit" id="submit-input" class="btn btn-large">
        </div>
      </form>
    </div>
  </main>

  
  <footer class="page-footer teal">
  
    <div class="footer-copyright">
      <div class="container">
        © 2018 Human'app
        <a class="grey-text text-lighten-4 right" href="#">More Links</a>
      </div>
    </div>
  </footer>

  
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  <!-- Script that is executed only when the page is fully loaded -->
  <script type="text/javascript">
    // Initializing MaterializeJS
    M.AutoInit();
    
    // Initializing the default value to 20180000
    document.getElementById("student-id-input").value = 20180000;
    
    // Form verification (before sending)
    document.getElementById("submit-input").addEventListener("click", async e => {
      e.stopPropagation();

      if (!checkFirstName() || !checkLastName() || !checkStudentID()) {
        alert("Formulaire mal rempli");
        e.preventDefault();
      }
      else {
        await createRequest();
        e.preventDefault();
      }
    });
    
    
    // Weak student id verification
    checkStudentID = () => {
      let id = $("#student-id-input").val();
      
      id.trim();
      
      if (!id.startsWith("20180")) {
        setError("studentID");
        return false;
      }
      
      return id.length === 8;
    };
    
    // Very weak first name verification
    checkFirstName = () => {
      let firstName = $("#first-name-input").val();
      
      firstName.trim();
      
      if (firstName.length >= 2) {
        return true;
      } else {
        setError("firstName");
        return false;
      }
    };
    
    // Very weak last name verification
    checkLastName = () => {
      let lastName = $("#last-name-input").val();
      
      lastName.trim();
      
      if (lastName.length >= 2) {
        return true;
      } else {
        setError("lastName");
        return false;
      }
    };
    
    // To set errors faster
    setError = where => {
      if (where === "firstName") {
        $("#first-name-label").val("Erreur sur le prénom");
      }
      else if (where === "lastName") {
        $("#last-name-label").val("Erreur sur le nom de famille");
      }
      else if (where === "studentID") {
        $("#student-id-label").val("Erreur sur le numéro d'étudiant");
      }
    };


    createRequest = async () => {
      axios({
        method: "post",
        url: "/user",
        data: {
          firstName: $("#first-name-input").val(),
          lastName: $("#last-name-input").val(),
          studentID: $("#student-id-input").val()
        },

        headers: {"Content-Type": "application/json;charset=utf-8"}
      })
      .then(data => {
        console.log(data);
      })
      .catch(console.error)
    };
  </script>
</body>
</html>