</main>
<footer class="page-footer teal">

  <div class="footer-copyright">
    <div class="container">
      © 2018 Human'app
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>



<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>

<!-- Once the page is loaded, initializing MaterializeJS -->
<script type="text/javascript">
  M.AutoInit();
</script>


</body>
</html>