<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Responsive website -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">

  <link rel="shortcut icon" type="image/png" href="../public/logo.png">

  <title>Challenge WEIGARDIUM - Human'App</title>
</head>
<body>
<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-1">
        <div class="container">
          <a href="../index.ejs" class="brand-logo left hide-on-med-and-down"><b>Human'app</b></a>

          <a href="../index.ejs" class="brand-logo center hide-on-large-only"><b>Human'app</b></a>

          <ul id="nav-mobile" class="left">
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<main>